*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.container{
    width: 50%;
    float: left;
    height: 100vh;
    

}
.container > .info > h2{
    margin-top: 100px;
    margin-left: 17%;
    font-size: 60px;
}
.txt{
    margin-bottom: 30px;
    margin-left: 15%;
    font-size: 30px;
    font-weight: 100;
}
 .box{
    width: 65%;
    height: 45px;
    margin-left: 15%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    
}
.container > .inputs{
    margin-top: 60px;
}
div > ul{
    margin-top: 9px;
    margin-left: 14rem;
    list-style: none;
}
div > ul > li{
    font-size: 20px;
}
.aqui{
    cursor: pointer;
}
.btn{
    width: 66%;
    height: 45px;
    margin-left: 15%;
    margin-top: 50px;
    background-color: #6A6868;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.10s ease-in all;
}
.btn:hover{
    color: #f4f4f4;
    background-color: #7e7d7d;
}
.mitad2{
    float: left;
    width: 50%;
    height: 100vh;
    background-color: white;
}
.mitad2 > img{
    width: 100%;
    height: 100%;
    
}


