@media (max-width:425px){
    .logo{
        margin-left: 0;
        color: rgb(234, 175, 13);
        display: contents;
    }
    .container{
        width: 100%;
    }
    .container > .info > h2{
        margin-left: 19%;
        font-size: 45px;
    }
    .mitad2{
        display: none;
    }
    
}