@media (max-width:425px){
    h2 {
        margin-left: 2.5rem;
        color: rgb(234, 175, 13);
    }
    header{
        padding-left: 3%;
        padding-right: 10%;
        padding-top: 5px;
        height: 63px;
    }
    header > div > div >input {
        height: 20px;
        width: 102px;
    }
    .mitad2{
        width: 72%;
    }
    header > div > ul {
        padding-left: 80px;
    }
    header > div > ul > li {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
    header > div > ul > li >i {
        margin-top: 4px;
        margin-right: 6px;
        font-size: 12px;
    }
    .section{
        padding-right: 50px;
    }
    .products > .product-item {
        width: 39%;
        height: 180px;
    }
    .products > .product-item > h5 {
        font-size: 10px;
        
    }
    .products > .product-item > .price-conateiner {
        font-size: 10px;
        
    }
    .products > .product-item2 {
        display: none;
    }
    .products1 > .product-item {
        width: 39%;
        height: 180px;
    }
    .products1 > .product-item > h5 {
        font-size: 10px;
    }
    .products1 > .product-item > .price-conateiner {
        font-size: 10px;
    }
    .products1 > .product-item2 {
        display: none;
    }
    .bajo > .info > h3 {
        font-size: 17px;
    }
    .bajo > .info > h4 {
        font-size: 11px;
    }
    .bajo > .info1 > h3 {
        font-size: 17px;
    }
    .bajo > .info1 > h4 {
        font-size: 11px;
    }

}