*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 5px;
    
}
header > div > div >input{
    height: 30px;
    margin-top: 10px;
    margin-left: 9px;
    border-radius: 10px;
    border: white;
    font-size: 1rem;
  
}
header > div > ul{
    display: flex;
    justify-content: right;
}
header > div > ul > li {
    margin-top: 10px;
    margin-right: 50px;
    font-size: 24px;
    list-style: none;
    color: white;
    cursor: pointer;
    transition: 0.20s ease-in all;
}
header > div > ul > li:hover{
    color: yellow;
}
header > div > ul > i{
    margin-top: 15px;
    color: white;
    margin-right: 10px;
    margin-left: 0;
    font-size: 17px;
}
h2{
    margin-left: 5rem;
    color: rgb(234, 175, 13);
}
header > div > div >i{
    color: white;
    transition: 0.20s ease-in all;
}
header > div > i:hover{
    color: yellow;
    cursor: pointer;
}
.log{
    list-style: none;
    color: white;
    list-style: none;
    transition: 0.20s ease-in all;
}
.log:hover{
    color: yellow;
}
.mitad{
    float: left;
    width: 50%;
}
.mitad2{
    float: left;
    width: 40%;
}
.product{
    
    gap: 20px;
}
.product > .control{
    width: 10px;
} 


